<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>    
        <h2>Login Page</h2>
        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}
        <form method="post" autocomplete="off">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Username" value="{{ username }}" autocomplete="off"><br><br>
            <input type="password" name="password" placeholder="Password" autocomplete="new-password"><br><br>
            <button type="submit">Login</button>
        </form>
    </center>
</body>
</html>